:root {
    --background: #e5e5e5;
    --red: #ef3f3f;
    --gray: #f1f1f1;
    --black: #222831;
    --font: 'Roboto Mono';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Mono';
}

/* Header */
header {
    background-color: var(--red);
    padding: 10px 20px 10px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-item {
    margin-right: 20px;
}

a {
    color: var(--background);
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: var(--black);
}

/* Hero */
.hero-section {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('img/keyboard2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
}

.hero-container {
    color: var(--background);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero-container h1 {
    font-size: 2rem;
}

.hero-btn {
    margin-top: 10px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: var(--red);
    color: var(--background);
    font-size: 16px;
    transition: all .2s ease-in-out;
    width: 25%;
}

.hero-btn:hover {
    transform: scale(1.1);
}

/* Services Section */
.services-container {
    background-color: var(--gray);
    width: 75%;
    padding: 20px;
    margin: 20px auto auto auto;
    border-radius: 20px;
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}






